.card_form {
  padding: 20px;
  background: white;
  max-width: 500px;
  margin: 30px 0;

  form {
    label {
      display: block;
      margin-bottom: 20px;
      input  {
        display: block;
        width: 100%;
        height: 40px;
        line-height: 40px;
        outline: none;
        box-shadow: none;
        border: 1px solid #ccc;
        margin-top: 5px;
        padding: 0 10px;

        &.error {
          border-color: red;
        }
      }
    }

    button {
      width: 140px;
      height: 40px;
      background: #161138;
      color: #fff;
      font-size: 16px;
      border: none;
      outline: none;
    }
  }
}